<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form>
Enter Job Title<input type="text" ng-model="job.jobTitle"><br>
Enter Job description <textarea ng-model="job.jobDescription"></textarea><br>
Enter years of Experience <input type="text" ng-model="job.yrsOfExp"><br>
Enter Salary <input type="text" ng-model="job.salary"><br>
Enter Skills Required <input type="text" ng-model="job.skillsRequired"><br>
Enter Location <input type="text" ng-model="job.location"><br>
Enter Company Name <input type="text" ng-model="job.companyName"><br>

<input type="submit" value="saveJob" ng-click="saveJob()">

</form>

</body>
</html>