<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
</style>
</head>
<body>
<form >
  <div class="container">
    <label><b>Firstname</b></label>
    <input type="text" ng-model="user.firstname" placeholder="enter firstname"><br>
    
     <label><b>Lastname</b></label>
    <input type="text" ng-model="user.lastname" placeholder="enter lastname"><br>
    
    
    <label><b>Email</b></label>
    <input type="text" ng-model="user.email" placeholder="enter email"><br>
    
    
     <label><b>Username</b></label>
    <input type="text" ng-model="user.username" placeholder="enter username"><br>
    
    

    <label><b>Password</b></label>
    <input type="password" ng-model="user.password" placeholder="enter password"><br>
	<label><b>Enter role</b></label><br>
	<input type="radio" ng-model="user.role" value="student">Student<br>
	<input type="radio" ng-model="user.role" value="alumini">Alumini<br>
	<input type="radio" ng-model="user.role" value="employee">Employee<br>

	<input type="submit" ng-click="register()"><br>
</form>
</body>
</html>