<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>

{{message}}
<table class="table" data-ng-hide="message">
<tr data-ng-repeat="user in pendingRequest">

<td>{{user.fromId}}</td>
<td><a href="" data-ng-click="acceptOrRejectRequest(user.fromId,'A')" class="btn btn-default" data-ng-hide="message">Accept</a> </td>
<td><a href="" data-ng-click="acceptOrRejectRequest(user.fromId,'D')" class="btn btn-default" data-ng-hide="message">Reject</a> </td>
</tr>
</table>
</div>

</body>
</html>